//Variables

//Paleta de Colores
$color-celeste : #83B4DB; 
$color-turquesa : #64C7EB;
$color-negro : #000000;
$color-amarillopastel : #FCEADA;
$color-gris : #D9D9D9;
$color-grisclaro : #EAEAEA;
$color-verde : #6CBF58;
$color-naranja : #F0BE99;
$color-rojo : #EE9898;
$color-blanco : #FFFFFF;
